<% layout('/layouts/boilerplate')%>
<div class="container">
  <div class="my-5 rounded-4" id="map" style="width: 100%; height: 500px"></div>
  <% for (let campground of campgrounds){%>
  <div class="card rounded-4 mb-2 bg-light">
    <div class="row">
      <div class="col-md-4">
        <% if (campground.images[0]) { %>
        <img
          crossorigin="anonymous"
          class="img-fluid"
          alt=""
          src="<%=campground.images[0].url%>"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">
            <%=campground.title%>
            <div class="starability-result" data-rating="<%= campground.rating %>">
            </div>
          </h5>
          <p class="card-text"><%=campground.description%></p>
          <p class="card-text">
            <small class="text-muted"><%=campground.location%></small>
          </p>
          <a class="btn btn-dark" href="/items/<%=campground.id%>"
            >View <%=campground.title%></a
          >
        </div>
      </div>
    </div>
  </div>
  <%}%> <% if (!campgrounds.length) { %>
  <h1>
    Oops! There are no listings available. <a href="/items/new"> Submit one</a>
  </h1>
  <% } %>
</div>

<script>
  const mapBoxToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgroundsData = {
      type: "FeatureCollection",
      features: <%-JSON.stringify(campgrounds)%>
  };
</script>
<script src="/javascripts/clusterMap.js"></script>
